html,
body {
  margin: 0;
  padding: 0;
}

section {
  margin: 0rem 3rem;
  height: 50vh;
  width: 90vw;
  position: relative;
  padding: 0rem 0rem;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: auto;
}

#map-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.marker {
  position: absolute;
}
