.layout-flex {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

app-navbar {
  flex-shrink: 0;
}

.layout-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

app-footer {
  flex-shrink: 0;
}
