<div class="cards-layout">
  @for (trip of tripsService.tripCards(); track trip.name){
  <div
    class="card"
    [ngStyle]="{
      'background-image': getBackgroundImgStyle(trip.backgroundImg)
    }"
  >
    <button
      class="crud-button"
      matIconButton
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editTrip(trip)">
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deleteTrip(trip)">
        <span>Delete</span>
      </button>
    </mat-menu>
    <div class="card-info">
      <h1>{{ trip.name }}</h1>
      <p>{{ trip.date }}</p>
    </div>
  </div>

  } @empty {+
  <p>No trips found.</p>
  }
</div>
