<app-navbar></app-navbar>
<br />
<h2
  class="my-10 mt-2 text-3xl justify-self-center md:self-center md:justify-self-center md:text-4xl font-bold text-gray-600"
>
  My trips
</h2>
<div class="mx-5 md:mx-22 md:text-lg">
  <p>
    Welcome to your trips page. Here you will find all the trips you've done in
    a friendly layout for easy access. Click the <em>"Add trip"</em> card to
    create any new trips. Edit or delete existing trips with the buttons in the
    upper right corner of each card.
  </p>
  <p>
    Below there is a world map with markers on the places you've visited, you
    can also access each trip by clicking the country's pop-up card. Ready to
    begin?
  </p>
</div>
<app-card></app-card>

<br />
<app-map></app-map>

<app-footer></app-footer>
