h2 {
  margin-left: 2.5rem;
  margin-top: 0.5rem;
}

@media (min-width: 600px) {
  h2 {
    margin: 1rem 0rem;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
  }

  section {
    max-width: 90vw;
  }
}
