<header class="burger-menu">
  <button
    class="burger"
    id="burger-button"
    matIconButton
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    @if (userEmail) {

    <button mat-menu-item disabled>
      <span [routerLink]="['/profile']">Hi, {{ userEmail }}</span>
    </button>
    <button mat-menu-item>
      <span [routerLink]="['/insights']">Insights</span>
    </button>
    <button mat-menu-item (click)="logOut()">
      <span>Log out</span>
    </button>
    } @else {
    <button mat-menu-item>
      <span [routerLink]="['/sign-up']">Sign up</span>
    </button>
    <button mat-menu-item>
      <span [routerLink]="['/log-in']">Log in</span>
    </button>
    }
    <button mat-menu-item>
      <span [routerLink]="['/home']">Home</span>
    </button>
    <button mat-menu-item>
      <span [routerLink]="['/profile']">Profile</span>
    </button>
  </mat-menu>
</header>

<!-- Desktop menu -->
<section class="desktop-navbar">
  <div>
    <p [routerLink]="['/home']" class="">Home</p>
    <p [routerLink]="['/profile']">Profile</p>
  </div>
  @if (userEmail) {
  <div>
    <span [routerLink]="['/profile']" class="mr-4">Hi, {{ userEmail }}</span>
    <span>|</span>
    <p [routerLink]="['/insights']">Insights</p>

    <button (click)="logOut()" class="ml-2">Log out</button>
  </div>
  } @else {
  <div>
    <p [routerLink]="['/sign-up']">Sign up</p>
    <p [routerLink]="['/log-in']">Log in</p>
  </div>
  }
</section>
