<footer class="p-1 bg-black md:p-1 lg:p-1 dark:bg-gray-800 mt-14">
  <div class="mx-auto max-w-screen-xl text-center">
    <ul
      class="flex flex-wrap justify-center items-center mb-1 text-white dark:text-white"
    >
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">FAQs</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Contact</a>
      </li>
    </ul>
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© Copyright 2025. All Rights Reserved.</span
    >
  </div>
</footer>
