h2 {
  margin-left: 2.5rem;
  margin-top: 0.5rem;
  font-size: xx-large;
}

section {
  position: relative;
}

button {
  border-radius: 5rem;
  padding: 1rem;
}

@media (min-width: 600px) {
  h2 {
    margin: 3rem 0rem;
    align-self: center;
    justify-self: center;
    font-size: 3rem;
  }
}
