section {
  background: url("https://images.pexels.com/photos/1619317/pexels-photo-1619317.jpeg")
    center/cover;
  height: calc(100vh - 68px);
  width: auto;
  position: relative;
}
.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(63, 62, 62, 0.507);
}

h2 {
  color: white;
  font-size: 5rem;
  font-weight: 800;
}

.home-info {
  width: 100%;
  max-width: 90vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 0.5rem;
  border-radius: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgba(34, 34, 34, 0.877);
  font-size: medium;
  transition: all 0.2s linear;
  color: white;
}
button:hover {
  cursor: pointer;
  background-color: rgb(61, 61, 60);
}
