header {
  height: calc(100vh - 51.5px);
}

#features {
  /* background-color: rgba(239, 241, 243, 0.678); */
}

h2 {
  font-size: 4rem;
  font-weight: 800;
}

.home-info {
  width: 100%;
  max-width: 90vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
